<div class="form-group row">

    <label class="col-xs-6 col-form-label">GUID: </label>
    <div class="col-xs-6">
        <p>{{user.guid}}</p>
    </div>


    <label class="col-xs-6 col-form-label">Customer UID: </label>
    <div class="col-xs-6">
        <p>{{user.customer_uid}}</p>
    </div>

    
    <label class="col-xs-6 col-form-label">First Name: </label>
    <div class="col-xs-6">
        <p>{{user.firstname}}</p>
    </div>

    
    <label class="col-xs-6 col-form-label">Last Name: </label>
    <div class="col-xs-6">
        <p>{{user.lastname}}</p>
    </div>


    <label class="col-xs-6 col-form-label">Email: </label>
    <div class="col-xs-6">
        <p>{{user.email}}</p>
    </div>


    <label class="col-xs-6 col-form-label">ZipCode: </label>
    <div class="col-xs-6">
        <p>{{user.zipCode}}</p>
    </div>


    <label class="col-xs-6 col-form-label">Password: </label>
    <div class="col-xs-6">
        <p>{{user.password}}</p>
    </div>

</div>